

div.container {
    display: grid;
    grid-template-columns: auto 250px 250px 250px auto;
    column-gap: 50px;
}

div.container div.card {
    margin-top: 70px;
    border: 1px groove black;
    background: white;
    display: grid;
    grid-template-rows: 62% 38%;
    align-items: stretch;
    justify-items: stretch;
}

img.logo {
    background: #000;
    grid-row-start: 1;
    
}

div.description {
    grid-row-start: 2;
    text-align: center;
    background: #FC963A;
    color: #fff;
}


div.container .item-a {
    grid-column-start: 2;
}

div.container .item-b {
    grid-column-start: 3;
}

div.container .item-c {
    grid-column-start: 4;
}

#divlink {
    background-color: #D0D0D0;
    width: 100px;
    height: 100px;
}

a.link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}