{% extends "layout.njk" %}

    {% block css %}
        <link rel="stylesheet" href="css/pages/sobre/styles.css">
    {% endblock %}

    {% block content %}

    <div id="main-content">

    <article>
            <h1>Não encontrado</h1>
            <p>
                404 - Página não encontrada. Tem certeza que a URL está correta?
            </p>
        </article>

    </div>


    {% endblock %}