{% extends "layout.njk" %}

    {% block css %}
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/pages/sobre/styles.css">
    {% endblock %}

    {% block content %}
    
    <div id="main-content">

        <img src="img/pages/sobre/imglogo.png" />
        
        <article>
            <h1> {{title}} </h1>
            <p>
                {{description}}
            </p>
        </article>

        <article>
            <h3>Principais tecnologias</h3>
            <ul>
                {% for tech in princtech %}
                <li>{{tech}}</li>
                {% endfor %}
            </ul>
        </article>

        <article>
            <h3>Redes Sociais</h3>
            <a class="sociais" href="#">Github</a> <a class="sociais" href="#">Instagram</a> <a class="sociais" href="#">Facebook</a>
        </article>

    </div>
</body>
</html>

{% endblock %}